{% extends 'base.html' %}
{% block content %}
    <h1>Главная страница</h1>
    <div class="container row" style="gap: 5rem">
        {% for item in orders %}
            <div class="card col-2 " style="width: 20rem;">
                <img src="{{ item.photo_file_after.url }}" class="card-img-top" alt="{{ item.photo_file_after }}"
                     width="200" height="150">
                <div class="card-body">
                    <h5 class="card-title">Дата заявки {{ item.date }}</h5>
                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item">Адрес помещения: {{ item.address }}</li>
                    <li class="list-group-item">Категория: {{ item.category.name }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}